<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                >			
			
				<div id="formDiv" style="width:99%; padding-left: 10px" >
				<p:panel id="formPanel" rendered="#{moviesBean.formDisplayed}">
				<form id="addForm" >
					<table border="0">
					
						<tr>
							<td> <p:outputLabel value="title"/></td>
							<td><p:inputText value="#{moviesBean.newMovie.title}"/></td>
							<td><p:outputLabel value="date of realise"/></td>
							<td><p:inputText value="#{moviesBean.newMovie.dateOfRealise}" /></td>
						</tr>
						
						<tr>
							<td><p:outputLabel value="theme"/></td>
							<td><p:inputText value="#{moviesBean.newMovie.theme}" /></td>
							<td><p:outputLabel  value="genre"/></td>
							<td><p:inputText value="#{moviesBean.newMovie.genre}"/></td>
						</tr>
						
						<tr>
							<td><p:outputLabel value="budget"/></td>
							<td><p:inputText value="#{moviesBean.newMovie.budget}"/></td>
							<td><p:outputLabel value="synopsis"/></td>
							<td><p:inputText value="#{moviesBean.newMovie.synopsis}"/></td>
						</tr>
						
						<tr>
							<td><p:outputLabel value="image"/></td>
							<td colspan="3">
								 <!-- <p:fileUpload fileUploadListener="" mode="advanced" update="messages" auto="true" /> 
 
    							<p:growl id="messages" showDetail="true" />-->
							</td >
							
							
						</tr>
						
						<tr>
							<td><p:outputLabel value="video"/></td>
							<td colspan="3">
							<!-- <p:fileUpload fileUploadListener="" mode="advanced" update="messages" auto="true"  /> -->
 
    							
								
							
							</td>
							
						</tr>
						
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td>
							<p:button value="cc" action="#{moviesBean.doSave()}" ajax="true"/>
						    <p:button immediate="true" value="cancel" action="#{moviesBean.doCancel()}" update=":formPanel" ajax="true"/> 
						    </td>
						</tr>
						
						
					
					
					</table>
				
				
					
				</form>	
				</p:panel>
				</div>
				
						
</ui:composition>