<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                >			
			
				<div id="list" style="width:99%; padding-left: 10px" >
				<h:form id="listForm">			
				
				<p:dataTable id="tabMovies" value="#{moviesBean.movies}" var="movie" 
							paginator="true" rows="3"
							selectionMode="single"  rowKey="#{movie.id}" selection="#{moviesBean.movie}" 
							emptyMessage="no video found">
							
				<p:ajax event="rowSelect" listener="#{moviesBean.onRowSelect}" update=":player"/>
				
				
				<f:facet name="header">
					<p:outputLabel value="video list"/>
				</f:facet>
				<p:column headerText="#" filterBy="" filterMatchMode="" rendered="false">
					<p:outputLabel value="#{movie.id}"/>
				</p:column>
				
				<p:column headerText="image" filterBy="" filterMatchMode="">
					<p:graphicImage value="http://localhost:2000/#{movie.imgUrl}" style="width:150px;height:150px"/>
				</p:column>
				
				<p:column headerText="title" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.title}"/>
				</p:column>
				
				<p:column headerText="date of realise" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.dateOfRealise}"/>
				</p:column>
				
				<p:column headerText="budget" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.budget}"/>
				</p:column>
				
				<p:column headerText="synopsis" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.synopsis}"/>
				</p:column>
				
				<p:column headerText="theme" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.theme}"/>
				</p:column>
				
				<p:column headerText="genre" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.genre}"/>
				</p:column>
				
				<p:column headerText="signalisation" filterBy="" filterMatchMode="">
					<p:outputLabel value="#{movie.signalisation}"/>
				</p:column>
				
				
				</p:dataTable>
				
				<h:panelGrid columns="2">
					<p:commandButton value="add" icon="ui-icon-circle-plus" action="#{moviesBean.doAdd()}" ajax="true" update="@all"/>
					<p:commandButton value="delete" action="#{moviesBean.doDelete()}" ajax="true" update="@all"/>
					
				
				</h:panelGrid>
				
				
				</h:form>
					<p:separator/>
				</div>
				
						
</ui:composition>