<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                >			
			
				<p:panel id="player" style="width:99%; padding-left: 20px" >
					<video width="400" controls="true">
  						<source src="#{moviesBean.videoUrl}" type="video/mp4"/>
  						
  						Your browser does not support HTML5 video.
					</video>
					
					<p:separator/>
				</p:panel>
				
						
</ui:composition>