<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui" >

<div id="formDiv" style="width:99%; padding-left: 10px" >
<p:panel id="details" header="Details" visible="#{cinemaTheaterCrudBean.formDisplayed}">
<h:form id="theat_form" rendered="#{cinemaTheaterCrudBean.formDisplayed}">
					<h:panelGrid columns="2">		 	 
			 			<h:outputText value="Name :" />
						<p:inputText value="#{cinemaTheaterCrudBean.cinemaTheatre.name}" /> 				
			 			<h:outputText value="Adress :" />
						<p:inputText value="#{cinemaTheaterCrudBean.cinemaTheatre.adress}" />
						<h:outputText value="Nombre de places :" />
						<p:inputText value="#{cinemaTheaterCrudBean.cinemaTheatre.placeNumber}" />
						<h:outputText value="Date :" />
						<p:calendar value="#{cinemaTheaterCrudBean.cinemaTheatre.date}"  navigator="true" pattern="dd-MM-yyyy">
							<f:convertDateTime pattern="dd-MM-yyyy" />
						</p:calendar>
						<h:outputText value="Movies :" />
						<h:selectOneMenu value="#{cinemaTheaterCrudBean.cinemaTheatre.movie}" converter="toMovie">
							<f:selectItem itemValue="" itemLabel="select one..."/>
							<f:selectItems value="#{cinemaTheaterCrudBean.movies}" 
											var="mov" 
							  				 itemValue="#{mov}" 
							   				  itemLabel="#{mov.title}"/>
						</h:selectOneMenu>
						<h:panelGrid columns="3">
							<p:commandButton id="delete_submit" value="delete" actionListener="#{cinemaTheaterCrudBean.doDelete}" update=":master :details" oncomplete="TabW.filter();"/>
							<p:commandButton id="save_submit" value="save" actionListener="#{cinemaTheaterCrudBean.doSave}" update=":master :details" oncomplete="TabW.filter();"/>
					  		<p:commandButton value="cancel" actionListener="#{cinemaTheaterCrudBean.doCancel}" update=":details" oncomplete="TabW.filter();"/>
					  		<h:message for="save_submit" styleClass="info"/>
							<h:message for="delete_submit" styleClass="info"/>
					
						</h:panelGrid>				
					</h:panelGrid>
</h:form>

</p:panel>
</div> 
</ui:composition>