<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"              
                xmlns:p="http://primefaces.org/ui"
                template="/pages/template/template.xhtml">	
                	
			<ui:define name="pageTitle">CinemaTheater page</ui:define>		
			<ui:define name="content">
					<div>
					<ui:include src="/pages/CinemaTheater/list.xhtml" />
					<br/>
					<br/>
					<ui:include src="/pages/CinemaTheater/add.xhtml" />
					</div>
					
			</ui:define>	
			
			
</ui:composition>