<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

	<h2>All CinemaTheater</h2>
	<hr />
	<div id="list" style="width:99%; padding-left: 10px" >
	<h:form id="master">
		<p:dataTable 	value="#{cinemaTheaterCrudBean.cinemaTheatres}"
						var="cima" 
						emptyMessage="no cinemaTheaters found!"
						selectionMode="single"
						selection="#{cinemaTheaterCrudBean.cinemaTheatre}" 
						rows="3"
						rowKey="#{cima.id}" paginator="true" widgetVar="TabW"
						paginatorPosition="bottom"
						filteredValue="#{cinemaTheaterCrudBean.filtredCinema}">

			<p:ajax event="rowSelect"
				listener="#{cinemaTheaterCrudBean.onRowSelect}" update=":details" />
			<p:ajax event="filter" listener="#{cinemaTheaterCrudBean.onFilter}"
				update=":details" />

			<f:facet name="header">
				<h:outputText value="available CinemaTheater" />
			</f:facet>
			<p:column headerText="#" sortBy="#{cima.id}" filterBy="#{cima.id}"
				filterMatchMode="contains">
				<h:outputText value="#{cima.id}" />
			</p:column>

			<p:column headerText="Name" sortBy="#{cima.name}"
				filterBy="#{cima.name}" filterMatchMode="contains">
				<h:outputText value="#{cima.name}" />
			</p:column>
			
			<p:column headerText="Adress" sortBy="#{cima.adress}"
				filterBy="#{cima.adress}" filterMatchMode="contains">
				<h:outputText value="#{cima.adress}" />
			</p:column>
			
			<p:column headerText="date" sortBy="#{cima.date}"
				filterBy="#{cima.date}" filterMatchMode="contains">
				<h:outputText value="#{cima.date}" />
			</p:column>

			<p:column headerText="Nombre de places" sortBy="#{cima.placeNumber}"
				filterBy="#{cima.placeNumber}" filterMatchMode="contains">
				<h:outputText value="#{cima.placeNumber}" />
			</p:column>

			<p:column headerText="Movie" sortBy="#{cima.movie.title}"
				filterBy="#{cima.movie.title}" filterMatchMode="contains">
				<h:outputText value="#{cima.movie.title}" />
			</p:column>

		</p:dataTable>
			<p:commandButton value="new" icon="ui-icon-circle-plus" actionListener="#{cinemaTheaterCrudBean.doNew}" update=":details"/> 
	</h:form>
	</div>
</ui:composition>