﻿<!DOCTYPE html >


<html lang="en"

  	  xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"> 
      
<!--<![endif]-->
<!-- BEGIN HEAD -->
<h:head>
    <meta charset="UTF-8"/>
    <title>   <ui:insert name="pageTitle" /></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    
    <h:outputStylesheet  name="assets/css/theme.css" /> 
<h:outputStylesheet   name="assets/css/bootstrap.css" />
 	<h:outputStylesheet  name="assets/css/main.css" />
 	


		
	<h:outputStylesheet  library="assets/css" name="main.css" /> 
	<h:outputStylesheet  library="assets/css" name="theme.css" />   
    <h:outputStylesheet  library="assets/css" name="MoneAdmin.css" /> 
     
   
    
    <h:outputStylesheet  library="assets/plugins/bootstrap/css" name="bootstrap.css" />
    <h:outputStylesheet  library="assets/plugins/Font-Awesome/css" name="font-awesome.css"/>
 	
 	<h:outputStylesheet  library="assets/css" name="layout2.css"/>
    <h:outputStylesheet  library="assets/plugins/flot/examples" name="examples.css"/>
    <h:outputStylesheet  library="assets/plugins/timeline" name="timeline.css"/>

 
  
</h:head>

<!-- END HEAD -->

<!-- BEGIN BODY -->
<h:body class="padTop53 ">

<!-- MAIN WRAPPER -->
<div id="wrap">


    <!-- HEADER SECTION -->
    <div id="top">

        <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px;">
            <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip"
               class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu"
               id="menu-toggle">
                <i class="icon-align-justify"></i>
            </a>
            <!-- LOGO SECTION -->
            <header class="navbar-header">

                <a href="#">
                 
                <h:graphicImage library="assets/img/final" name="movie.png" style="width:70px;height: 70px;padding-bottom: 5px"/>
                </a>


            </header>
            <!-- END LOGO SECTION -->


        </nav>

    </div>
    <!-- END HEADER SECTION -->
    <br/><br/>


    <!-- MENU SECTION -->
    <div id="left">
        <div class="media user-media well-small">
            <a class="user-link" href="#">
                <img class="media-object img-thumbnail user-img" alt="User Picture" src="assets/img/user.gif"/>
            </a>
            <br/>

            <div class="media-body">
                <h5 class="media-heading"> [First name][Last name]</h5>
                <ul class="list-unstyled user-info">

                    <li>
                        <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online

                    </li>

                </ul>
            </div>
            <br/>
        </div>

        <div>
            admin info
        </div>

    </div>
    <!--END MENU SECTION -->


    <!--PAGE CONTENT -->
    <div id="content">

        <div class="inner" style="min-height: 700px;">
            <div class="row">
                <div class="col-lg-12">
                    <h1> Admin Dashboard </h1>
                </div>
            </div>
            <hr/>
            <!--BLOCK SECTION -->
            <div class="row">
                <div class="col-lg-12">
                    <div style="text-align: center;">
                        <table align="center">
                            <tr>

                                <td style="width: 100px">

                        <span>
                        <a href="#">
                         <h:graphicImage library="assets/img/final" name="user.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Users <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <!-- -->
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                            
                            <h:graphicImage library="assets/img/final" name="movie.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Movies
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="message.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Message
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="forum.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Forum
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="quiz.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Quiz
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="test.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Box Office
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="wichlist.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Wich List
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="cinema.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Cinema
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>
                                <td style="width: 100px">

                        <span>
                        <a href="#">
                             <h:graphicImage library="assets/img/final" name="team.png" style="width:70px;height: 70px;padding-bottom: 5px"/>

                            <p>Crew
                                <span class="label label-danger">2</span></p>
                        </a>
                        </span>
                                </td>


                            </tr>
                        </table>


                    </div>

                </div>

            </div>
            <!--END BLOCK SECTION -->
            <hr/>
            <!-- CHART & CHAT  SECTION -->
            <div class="row">


                <div class="col-lg-4" style="width: 100%">

                    <div class="chat-panel panel panel-primary">

                        <div class="panel-heading">
                            
                            [selected category name]

                        </div>

                        <div class="">

                            <div id="content">
                            <BR />
								
							</div>	
                        </div>


                    </div>


                </div>
            </div>
           
            <div class="row">
            <ui:insert name="content"  />
            
            </div>
            


        </div>

    </div>
    <!--END PAGE CONTENT -->

    <!-- RIGHT STRIP  SECTION -->
    <div id="right">


        <div class="well well-small">
            <button class="btn btn-block"> Help</button>
            <button class="btn btn-primary btn-block"> Tickets</button>
            <button class="btn btn-info btn-block"> New</button>
            <button class="btn btn-success btn-block"> Users</button>
            <button class="btn btn-danger btn-block"> Profit</button>
            <button class="btn btn-warning btn-block"> Sales</button>
            <button class="btn btn-inverse btn-block"> Stock</button>
        </div>
        <div class="well well-small">
            <span>Profit</span><span class="pull-right"><small>20%</small></span>

            <div class="progress mini">
                <div class="progress-bar progress-bar-info" style="width: 20%"></div>
            </div>
            <span>Sales</span><span class="pull-right"><small>40%</small></span>

            <div class="progress mini">
                <div class="progress-bar progress-bar-success" style="width: 40%"></div>
            </div>
            <span>Pending</span><span class="pull-right"><small>60%</small></span>

            <div class="progress mini">
                <div class="progress-bar progress-bar-warning" style="width: 60%"></div>
            </div>
            <span>Summary</span><span class="pull-right"><small>80%</small></span>

            <div class="progress mini">
                <div class="progress-bar progress-bar-danger" style="width: 80%"></div>
            </div>
        </div>


    </div>
    <!-- END RIGHT STRIP  SECTION -->
</div>

<!--END MAIN WRAPPER -->

<!-- FOOTER -->
<div id="footer">
    <p> Dev.Leaders 2015 </p>
</div>
<!--END FOOTER -->


<!-- GLOBAL SCRIPTS -->
<script src="assets/plugins/jquery-2.0.3.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<!-- END GLOBAL SCRIPTS -->

<!-- PAGE LEVEL SCRIPTS -->
<script src="assets/plugins/flot/jquery.flot.js"></script>
<script src="assets/plugins/flot/jquery.flot.resize.js"></script>
<script src="assets/plugins/flot/jquery.flot.time.js"></script>
<script src="assets/plugins/flot/jquery.flot.stack.js"></script>
<script src="assets/js/for_index.js"></script>

<!-- END PAGE LEVEL SCRIPTS -->


</h:body>

<!-- END BODY -->
</html>
