<ui:composition xmlns="http://www.w3.org/1999/xhtml"
				xmlns:h="http://java.sun.com/jsf/html"
				xmlns:f="http://java.sun.com/jsf/core"
				xmlns:ui="http://java.sun.com/jsf/facelets"
				xmlns:p="http://primefaces.org/ui" >

<p:panel id="details" header="Details">
	<h:form id="theat_form">
					
	</h:form>

</p:panel>
</ui:composition>