<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
	<h:head>
		<title>Welcome Page</title>
	</h:head>
	<h:body>
		<h2>Welcome</h2>
	</h:body>
</html>